<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Socket.IO with JWT Authentication</title>
</head>
<body>
<h1>Socket.IO with JWT Authentication</h1>
<textarea style="width: 300px; height: 300px"></textarea>
<br>
<button onclick="sendMessage()">Send message</button>

<!-- Imports Socket.IO client library from CDN. The version of the
    client lib must match the version of the NPM package used in the
    Node.js backend -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
<script>
    // Initiates the Socket.IO connection to the Node.js backend
    const socket = io.connect('', {
        extraHeaders: {
            Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDAxIiwibmFtZSI6ImFkbWluIiwiaWF0IjoxNTE2MDQ0NDQ0fQ.aWj5grFWJwcsbgxNJ7HdfL5PUfD8fMh9GwXutuR86GE",
        },
    });

    socket.on('connect', () => {
        log('Connected to server');
    });
    socket.on('message', (message) => {
        log(message);
    })
    socket.on('diconnect', () => {
        log('Disconnected from server');
    });

    function log(message) {
        document.getElementsByTagName('textarea')[0].value = document.getElementsByTagName('textarea')[0].value + '\n' + message;
    }

    /**
     * Emits a `message` event with the payload `Hello, world` which
     * is send via the WebSocket connection to the Node.js backend.
     */
    function sendMessage() {
        socket.emit('message', 'Hello, world');
    }
</script>
</body>
</html>