<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js File Uploader</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            background-color: #333;
            color: whitesmoke;
        }

        input,
        button {
            font: inherit;
            width: max-content;
        }

        form {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.5rem;
        }
    </style>
</head>

<body>
<h1>Node.js File Uploader</h1>
<form id="uploadForm">
    <input type="file" id="myFiles" accept="image/*" multiple />
    <button>Submit</button>
</form>
<h2></h2>
<h3></h3>
<script>
    var auth = ''
    fetch('http://localhost:3500/login',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({"username": "dungtri","password": "12345678","device": "laptop"})
        }
    )
        .then(response => response.json())
        .then(data => data.auth)
        .then(token => {
            auth = token;
        })

    const form = document.getElementById('uploadForm')

    const sendFiles = () => {
        // Object
        if(auth!=='') {
            const myFiles = document.getElementById('myFiles').files

            const formData = new FormData()

            Object.keys(myFiles).forEach(key => {
                formData.append(myFiles.item(key).name, myFiles.item(key))
            })

            // formData.append("licensePlate", "8888");
            // formData.append("brand","Audi");
            // formData.append("seats","10");
            // formData.append("pricePerDay","1000000");
            // formData.append("color","red");
            // formData.append("province","HCM");
            // formData.append("city","Quan 1");
            // formData.append("address","123 Nguyen Hue");
            // formData.append("description","some shit");
            formData.append("title","New dia diem du lich")
            formData.append("province","Lam dong")
            formData.append("city","Bao Loc")
            formData.append("referenceName","tiem tra thang chill")
            formData.append("description","Chill vaiz lun")
            formData.append("address","P2")

            fetch('http://localhost:3500/article/', {
                method: 'POST',
                body: formData,
                headers:{
                    "Authorization": "Bearer " + auth,
                }
            }).then(response => console.log(response))
        }
        else {
            alert('Please login first')
        }
    }

    form.addEventListener('submit', (e) => {
        e.preventDefault()
        sendFiles()
    })
</script>
</body>
</html>